# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Outputs
outs/

# C extensions
*.so

*.csv

# seleniumbase
downloaded_files/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.env/
venv/
venv_dev/
venv_test/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / VSCode
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Logs
*.log
logs/

# mypy / coverage / etc.
.mypy_cache/
.coverage.*
.cache

.git_local_repo_credentials
UPDATE_PIP.md
curl_calls.md